<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- For local packages' testing -->
    <add key="local" value="..\src\DragoAnt.Extensions.DependencyInjection\bin\Debug" />
    <add key="local_referenced" value="..\src\DragoAnt.Extensions.DependencyInjection.Referenced\bin\Debug" />
  </packageSources>
</configuration>